<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head>
    <span th:replace="fragments/deo_fragments :: head('e-TravelPermit')">
    </span>
    <span th:replace="fragments/deo_fragments :: common-css"></span>
    <link rel="stylesheet" th:href="@{/plugins/datepicker/bootstrap-datetimepicker.min.css}" />
    <style>
        .rounded {
            width: 50px;
            height: 50px;
            border: 2px solid gray
        }

        .active-thumbnail {
            border: 4px solid #4e73df !important;
        }
    </style>
</head>

<body id="page-top">
    <div id="wrapper">
        <span th:replace="fragments/deo_fragments :: side-navbar('home','')"></span>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <span th:replace="fragments/deo_fragments :: top-navbar"></span>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6  img-thumbnail" id="one">
                            <div class="row">
                                <div class="col-md-12 mb-1">
                                    <div class="row">
                                        <div class="col-md-8 text-danger">
                                            <strong>* SCROLL THE MOUSE WHEEL TO ZOOM</strong>
                                        </div>
                                        <div class="col-md-4">
                                            <button
                                                onclick="document.getElementById('doc-image').dispatchEvent(new CustomEvent('wheelzoom.reset'));"
                                                class="btn btn-primary btn-sm float-right"><i class="fa fa-redo"></i>
                                                Reset
                                                Zoom</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 mb-1" style="height:70vh;overflow-x: auto;">
                                    <img class="img-fluid img-thumbnail" th:src="@{/images/no-data.svg}" id="doc-image"
                                        style="width:100%; height:70vh;">
                                </div>
                                <div class="col-md-12 text-center">
                                    <a onclick="javascript:void(0)" href="#" th:if="${not #lists.isEmpty(documents)}"
                                        th:each="doc,iter : ${documents}"><img th:attr="id=${iter.count}"
                                            th:src="@{/deo/get-image/__${doc.id}__}"
                                            class="rounded thumbnail active-thumbnail" alt="..."></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 img-thumbnail" id="two" style="height:85vh; overflow-y:auto;">
                            <span class="text-success" th:if=${flashMessage!=null} th:text=${flashMessage}></span>
                            <form autocomplete="off" th:action="@{/deo/save-entry}" th:object="${qrCodePayload}"
                                method="POST" onsubmit="return checkForm();">
                                <div class="form-group">
                                    <!-- <label for="exampleFormControlInput1">Token Number</label> -->
                                    <input type="hidden" class="form-control" th:field="*{clickedDataId}" readonly>
                                    <input type="hidden" class="form-control" th:field="*{attemptNumber}" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Token Number</label>
                                    <input type="text" class="form-control" th:field="*{tokenId}" required
                                        onkeyup="updateAttempt();">
                                </div>
                                <div class="form-group">
                                    <label for="name">
                                        Passenger Name
                                    </label>
                                    <input type="text" placeholder="Enter Passenger Name" class="form-control"
                                        th:field="*{name}" required autofocus />
                                </div>
                                <div class="form-group">
                                    <label for="mobile">
                                        Passenger Mobile Number
                                    </label>
                                    <input type="text" placeholder="Enter Mobile Number" class="form-control"
                                        th:field="*{mobileNumber}" minlength="10" maxlength="10" required
                                        onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" />
                                </div>
                                <div class="form-group">
                                    <label for="district">
                                        Reporting Time at Airport
                                    </label>
                                    <input type="text" placeholder="Reporting time at airport" class="form-control"
                                        th:field="*{reportingTimeAtAirport}" />
                                </div>

                                <div class="form-group">
                                    <label for="district">
                                        Passenger District
                                    </label>
                                    <select name="district" class="form-control" required>
                                        <option selected disabled value="">---Select---</option>
                                        <option th:each="dist : ${distList}" th:value="${dist.district}"
                                            th:text="${dist.district}"
                                            th:selected=${dist.district==qrCodePayload.district}></option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="screeningLocation">
                                        Screening Centre
                                    </label>
                                    <select name="assignedScreeningCenter" class="form-control" required>
                                        <option selected disabled value="">---Select---</option>
                                        <option th:each="screen : ${screeningList}" th:value="${screen.location}"
                                            th:text="${screen.location}"
                                            th:selected=${screen.location==qrCodePayload.assignedScreeningCenter}>
                                        </option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="district">
                                        Estimated Arrival Time
                                    </label>
                                    <input type="text" placeholder="Estimated arrival time" class="form-control"
                                        th:field="*{estimatedArivalTime}" />
                                </div>

                                <div class="form-group">
                                    <label for="address">
                                        Address
                                    </label>
                                    <input type="text" name="address" th:field="*{address}" placeholder="Enter Address"
                                        class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="thana">
                                        Thana
                                    </label>
                                    <input type="text" name="thana" th:field="*{thana}" placeholder="Enter Thana"
                                        class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="pincode">
                                        Pincode
                                    </label>
                                    <input type="text" name="pincode" th:field="*{pin}" placeholder="Enter Pincode"
                                        class="form-control" minlength="6" maxlength="6"
                                        onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')">
                                    <span id="pincodeError" class="error"></span>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary w-100">Submit the form</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <span th:replace="fragments/deo_fragments :: footer"></span> -->
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <span th:replace="fragments/deo_fragments :: common-js('')"></span>
    <script th:src="@{/plugins/wheelzoom.js}"></script>
    <script th:src="@{/plugins/moment/moment.min.js}"></script>
    <script th:src="@{/plugins/datepicker/bootstrap-datetimepicker.min.js}"></script>
    <script>
        $(document).ready(function () {
            $("#sidebarToggle").trigger('click');
            $('#reportingTimeAtAirport').datetimepicker({
                inline: true,
                sideBySide: true,
                format: "DD-MM-YYYY hh:mm a"
            });
            $('#estimatedArivalTime').datetimepicker({
                inline: true,
                sideBySide: true,
                format: "DD-MM-YYYY hh:mm a"
            });

            document.getElementById("name").focus();

            $(document).on('click', '.thumbnail', function (e) {
                document.getElementById('doc-image').dispatchEvent(new CustomEvent(
                    'wheelzoom.destroy'));
                $('#doc-image').attr("src", $(this).attr("src"));
                wheelzoom(document.getElementById('doc-image'));
                $(".thumbnail").removeClass("active-thumbnail");
                $(this).addClass("active-thumbnail");
            });

            $('#1').trigger("click");
        });

        function checkForm() {
            // alert($("#pincode").val().length);
            if ($("#pincode").val().length != 6 || isNaN($("#pincode").val())) {
                $.alert({
                    title: 'Error',
                    content: 'Invalid Pincode !',
                    type: 'red',
                    typeAnimated: true
                });
                return false;
            }
            return true;
        }

        function updateAttempt() {
            $("#attemptNumber").val("FIRST");
        }
    </script>
    <script th:if="${msgSuccess}" th:inline="javascript">
        /*<![CDATA[*/
        var msg = /*[[${msgSuccess}]]*/ "";
        /*]]>*/
        $.alert({
            title: 'Success!',
            content: msg,
            type: 'green',
            typeAnimated: true
        });
    </script>
    <script th:if="${msgError}" th:inline="javascript">
        /*<![CDATA[*/
        var msg = /*[[${msgError}]]*/ "";
        /*]]>*/
        $.alert({
            title: 'Error!',
            content: msg,
            type: 'red',
            typeAnimated: true
        });
    </script>

    <script th:if="${flashMessage!=''}" th:inline="javascript">
        /*<![CDATA[*/
        var flashMessage = /*[[${flashMessage}]]*/ "";
        /*]]>*/
        $.alert({
            title: 'Message',
            content: flashMessage,
            type: 'red',
            typeAnimated: true
        });
    </script>
</body>

</html>