<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<span th:fragment="head('title')">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="icon" type="image/ico" th:href="@{/images/favicon.ico}">
  <title>e-TravelPermit</title>
</span>

<span th:fragment="common-css">
  <!-- Bootstrap core CSS -->
  <link th:href="@{/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />

  <!-- Custom fonts for this template -->
  <link th:href="@{/plugins/fontawesome-free/css/all.min.css}" rel="stylesheet" />
  <link th:href="@{/plugins/simple-line-icons/css/simple-line-icons.css}" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
    type="text/css" />

  <!-- Core plugin JavaScript-->
  <link rel="stylesheet" th:href="@{/plugins/jquery-confirm/css/jquery-confirm.min.css}" />
  <!-- Custom styles for this template -->
  <link th:href="@{/common/css/landing_page/landing-page.css}" rel="stylesheet" />
  <link rel="stylesheet" th:href="@{/common/css/login.css}" />
  <link rel="stylesheet" th:href="@{/common/css/common.css}" />
  <style type="text/css">
    .loader {
      position: fixed;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      z-index: 9999;
      background: url("/images/loading.gif") 50% 50% no-repeat rgb(249, 249, 249);
    }
  </style>
</span>

<!-- Navigation -->
<nav th:fragment="nav-top" class="navbar navbar-light bg-light static-top">
  <div class="loader"></div>
  <div class="container text-center" style="width: 100%;display:flex;
    justify-content:center;">
    <span style="font-size: large;color:gray;flex:1;
     display: flex;
     justify-content: center;">e-Travel Permit by Government Of
      Assam.<br>(অসম চৰকাৰৰ দ্বাৰা আগবঢ়োৱা ভ্ৰমনৰ অনুমতি পত্ৰ)</span>
  </div>
</nav>


<footer th:fragment="footer" class="bg-light">
  <div class="container text-center ">
    <div class="row" style="display:inherit">
      <div class="col-lg-12">
        <p class="text-muted small mb-4 mb-lg-0">
          © e-Travel Permit by Government Of Assam. (অসম চৰকাৰৰ দ্বাৰা আগবঢ়োৱা ভ্ৰমনৰ অনুমতি পত্ৰ)<br>All Rights
          Reserved. (সৰ্বস্বত্ব সংৰক্ষিত)
        </p>
      </div>
    </div>

  </div>
</footer>


<span th:fragment="common-js">
  <!-- Bootstrap core JavaScript -->
  <script th:src="@{/plugins/jquery/jquery.min.js}"></script>
  <script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <!-- Core plugin JavaScript-->
  <script th:src="@{/plugins/jquery-confirm/js/jquery-confirm.min.js}"></script>
  <script>
    $(document).ready(function () {
      $(".loader").fadeOut("slow");
    });
  </script>
</span>