<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head>
    <span th:replace="fragments/state_fragments :: head('e-TravelPermit')">
    </span>
    <span th:replace="fragments/state_fragments :: common-css"></span>
</head>

<body id="page-top">
    <div id="wrapper">
        <span th:replace="fragments/state_fragments :: side-navbar('reportingPending','')"></span>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <span th:replace="fragments/state_fragments :: top-navbar"></span>
                <div class="container-fluid">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Passengers Reporting Pending at Screening
                                Center</h6>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <form th:action="@{/state/reportingPending}" method="POST"
                                        onsubmit="return doCheckDate();" autocomplete="off">
                                        <div class="col-6">
                                            <div class="input-group mb-3">
                                                <label>Select Date : </label>&nbsp;&nbsp;
                                                <input type="text" name="date" id="date" class="form-control"
                                                    placeholder="YYYY/MM/DD" aria-label=""
                                                    aria-describedby="basic-addon1">
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary" type="submit" name="submit"
                                                        id="submit">View Report</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <table id="myTable" class="table table-bordered table-responsive" width="100"
                                style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>Sl. No.</th>
                                        <th>Token Number</th>
                                        <th>Screening Center</th>
                                        <th>Name</th>
                                        <th>Mobile</th>
                                        <th>District</th>
                                        <!-- <th>Thana</th>
                                        <th>Address</th>
                                        <th>Pin</th> -->
                                        <th style="width:100px;">Data Entry Date</th>
                                        <th style="width:100px;">Data Entry Time</th>
                                        <th>Data Entry By</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="s,iterator : ${passengerList}">
                                        <td th:text="${iterator.index+1}"></td>
                                        <td th:text="${s.tokenId}"></td>
                                        <td th:text="${s.assignedScreeningCenter}"></td>
                                        <td th:text="${s.name}"></td>
                                        <td th:text="${s.mobileNumber}"></td>
                                        <td th:text="${s.destinationDistrict}"></td>
                                        <!-- <td th:text="${s.thana}"></td>
                                        <td th:text="${s.address}"></td>
                                        <td th:text="${s.pin}"></td> -->
                                        <td th:text="${s.entryDate}"></td>
                                        <td th:text="${s.entryTime}"></td>
                                        <td th:text="${s.username}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <span th:replace="fragments/state_fragments :: footer"></span>
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <span th:replace="fragments/state_fragments :: common-js('')"></span>
    <script>
        $(document).ready(function () {
            $("#sidebarToggle").trigger('click');

            $("#myTable").dataTable();
            $("#date").datepicker({
                maxDate: '+0d',
                dateFormat: 'yy-mm-dd',
                changeYear: false,
                changeMonth: false
            });
            function doConfirm() {
                if ($.confirm({
                    title: 'Confirm',
                    content: 'Are you sure you want to hide this record permanemtly ?',
                    type: 'green',
                    typeAnimated: true
                })) {
                    return true;
                }
                return false;
            }
        });
    </script>
</body>

</html>